<% include ../partials/header %>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/dashboard/<%= currentCompany._id %>">Dashboard</a>
    </li>
  </ol>

<div class="container" style="padding-left: 0px; padding-right: 0px">
    <header class="jumbotron">
        <h2>Latest Current Projects</h2>
        <p>Select a project to view more information</p>
    </header>
    <!-- ========================== CONTENT =============================== -->

    <h1>CONTENT GOES HERE</h1>

    <!-- ========================== CONTENT =============================== -->


    <% include ../partials/footer %>