<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<!-- =========================== Header =========================== -->

<div class="content-wrapper">
  <div class="container-fluid">
      <app-messages></app-messages>
<!-- =========================== Content =========================== -->
    <div style="text-align:center">
      <h3>
        {{ title }}
      </h3>
      <app-projects></app-projects>
      
<!-- =========================== Content =========================== -->

  </div>
</div>

<!-- =========================== Footer =========================== -->
<app-footer></app-footer>