<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<!-- =========================== Header =========================== -->

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="container setHeight">
        <app-messages></app-messages>
    </div>
      
<!-- =========================== Content =========================== -->
    <div style="text-align:center">
      <h3>
        {{ title }}
      </h3>
      <router-outlet></router-outlet>
      
<!-- =========================== Content =========================== -->

  </div>
</div>

<!-- =========================== Footer =========================== -->
<app-footer></app-footer>